/* ==UserStyle==
@name           MainPage Fix
@namespace      https://github.com/Enthub-it/CSS-MainPage-Fix
@homepageURL    https://github.com/Enthub-it/CSS-MainPage-Fix
@version        1.0.1
@description    Фикс текста фидов
@author         TentacleTenticals
@updateURL      https://github.com/Enthub-it/CSS-MainPage-Fix/raw/main/main.user.css
==/UserStyle== */

@-moz-document domain('enthub.it') {
  /* PAGE FIX */
  
  main.pb-16 { /* Главный контейнер */
    >:nth-child(1) { /* Главный контейнер с панелями left-center-right */
      
      .w-full { /* ЦЕНТРАЛЬНАЯ панель */
        max-width: unset;
      }
      
      aside[class*='lg:block'] { /* ПРАВАЯ панель */
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        position: sticky;
        top: 0;
        width: 27vw;
        height: 100vh;
        
        section.rounded-lg { /* Панель тегов */
          display: flex;
          flex-direction: column;
          gap: 3px 0;
          max-width: unset;
          margin: 0;
          min-width: 0;
          min-height: 0;
          
          >.flex-col { /* Лист тегов */
            display: flex;
            flex-direction: column;
            gap: 10px 0;
            padding: 10px 10px 10px 10px;
            min-width: 0;
            min-height: 0;
            
            >a { /* Теги */
              padding: 0 5px 0 5px;
              border-radius: 0;
            }
          }
        }
        >div.rounded-lg { /* Панель комментариев */
          max-width: unset;
          margin: 0;
          
          .items-center { /* Заголовок */
            margin: 0;
          }
          
          .space-y-5 { /* Лист комментариев */
            display: flex;
            flex-direction: column;
            gap: 15px 0;
            
            >.flex { /* Комментарий */
              margin: 0;
              
              >:nth-child(2) { /* Название фида */
                padding: 5px 5px 5px 5px;
              }
            }
          }
        }
      }
    }
  }
  
  div[wire\:snapshot*='story'] { /* Фид */
/*     width: 50%; */
  }
}
